<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Practice4DB"
             connectionString="Data Source=localhost;Initial Catalog=DB_Practice4_1;Trusted_Connection=True;"
             providerName="System.Data.SqlClient
			 "/>
	</connectionStrings>
</configuration>